In [3]:
import pandas as pd

df= pd.read_csv ('./datasets/attacks.csv', encoding='unicode_escape')
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
## isolate fatal attacks and dropna 

df.columns
FSsub= df[['Fatal (Y/N)', 'Species ', 'Country']].dropna()
fatalattacks= FSsub[FSsub['Fatal (Y/N)']== 'Y']
fatalattacks
list(fatalattacks['Species '])

['Tiger shark',
 'Tiger shark, female',
 'Some drowned but other may have been killed by blue sharks',
 'Tiger shark',
 'White shark',
 '3+ m shark',
 'White shark',
 'Tiger shark, 2.5 m',
 'White shark, 3.9 to 4.2 m',
 'Bull shark, 3.5 m',
 'Bull shark',
 'Mako shark',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 'White shark, 4 to 5 m',
 'Tiger shark',
 "7' shark",
 '3 m to 4 m white shark',
 '2 m shark',
 'Tiger shark, 3m ',
 'Thought to involve a white shark',
 'White shark',
 'Tiger shark?',
 'Bull shark',
 'Tiger shark, 4.8 m',
 'White shark, 4m',
 'Tiger shark',
 '2.5 m shark',
 "White shark, 15' to 16' ",
 'White shark, 5m',
 'White shark, 4 m to 5m ',
 'White shark, 4m ',
 'Thought to involve a bull shark',
 "White shark, 10'",
 'White shark',
 "White shark, >6'",
 "Bull shark, 6'",
 'Zambesi shark',
 ' Tiger shark, 2.8m',
 'White shark x 2',
 'Oceanic whitetip shark, 2.5m ',
 "White shark, 14' to 18' ",
 'White shark',
 'White shark',
 'White shark',
 'White shark, 2.8 to 3 m ',
 'Shark involvement prior to death not confirmed',
 'White shark',
 'Oceanic whitetip shark, 2.5 to 3m',
 'Tiger shark',
 'White sharks',
 '4 to 5m white shark',
 'Zambesi shark?',
 '2 m shark',
 'Tiger shark',
 "White shark, 12' to 15'",
 'Bull shark',
 'A bull shark, according to some of the divers on the boat',
 'Tiger shark',
 'Tiger shark',
 'Bull or tiger shark',
 '3 m, 600-kg shark',
 'Tiger shark',
 'Bull shark',
 "2 m [6.75'] shark, 200-kg shark T",
 'White shark',
 "1.8 m [6'] bull shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 'White shark',
 "6 m [20'] white shark",
 '4.5 m & 5 m white shark ',
 'Bull shark',
 "6 m [20'] white shark",
 "4.9 m to 5.5 m [16' to 18'] white shark",
 '2 sharks, 4.5 m & 3 m ',
 'White shark',
 'small sharks',
 'Questionable Incident',
 'Tiger shark',
 "Tiger shark, 4 m [13']  ?",
 'Shark involvement prior to death was not confirmed',
 'White shark',
 "4.5 m to 5.5 m [15' to 18'] white shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 'Bull shark',
 'Possibly a bull shark or tiger shark',
 'Mako shark, 400-lb ',
 "White shark, 6m [20']",
 'Questionable incident - shark bite may have precipitated drowning',
 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
 'bull shark',
 "Tiger shark, 8' ",
 "6 m [20'] shark",
 "White shark, 5 m [16.5'] ",
 'White shark',
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 'White shark, 2.5 m ',
 'Thought to involve a Zambesi shark',
 'Thought to involve a Zambesi shark',
 "Thought to involve a 2.7 m [9'], 400-lb bull shark",
 'Thought to involve a Zambesi shark',
 'Thought to involve a Zambesi shark',
 'Thought to involve a Zambesi shark',
 'Tiger sharks & bull sharks (20 sharks in all)',
 'Tiger shark?',
 'White shark',
 'Thought to involve a white shark',
 '3 bull sharks',
 'Bull shark',
 'Tiger shark',
 'Though to involve a white shark',
 'Thought to involve a 5.5 m white shark named Kong',
 'White shark',
 "3 m [10'] shark",
 'White shark',
 "Tiger shark, 5.2 m [17']",
 'Thought to involve an oceanic whitetip shark or a white shark',
 '4.5 m white shark',
 'White shark',
 'Tiger shark, 4.5 m [14\'9"]',
 'Bull shark',
 "5 m [16.5'] white shark",
 'Shark involvement prior to death suspected but not confirmed',
 'Tiger shark, 300-kg [662-lb] ',
 "Tiger shark, 2.5 m [8.25'] ",
 "3 m to 3.7 m [10' to 12'] bull shark",
 'White shark',
 'Though to involve a tiger shark',
 "1.8 m to 2.1 m [6' to 7'] shark",
 "3.7 m [12'] shark",
 '4 m shark',
 "6 m [20'] white shark",
 "Tiger shark, 1.8 m [6'] ",
 "5 m to 5.5 m [16.5' to 18'] white shark",
 "3 to 3.5 m [10' to 11.5'] bull shark",
 "4 m [13'] white shark",
 "3 m [10'], 200-kg [441-lb] bull shark",
 '4.9 m white shark',
 'Tiger shark',
 "On 11-Jan-1994, his remains washed ashore. A 2.4 m [8'] tiger shark thought to be involved",
 'Tiger shark caught 6 days later with diver\x92s remains in its gut',
 'White shark?',
 "Remains recovered from 5.5 m [18'] white shark",
 "5 m [16.5'] white shark",
 "Tiger shark, 3 m to 3.7 m [10' to 12'] ",
 '4.2 m white shark',
 'Bull shark or lemon shark',
 "Tiger shark, 3 m to 4 m [10' to 13'] ",
 "5 m [16.5'] white shark, identification by K. Nakaya",
 'Tiger shark?',
 "Tiger shark, 2.4 m 3.4 m [8' to 11']  ",
 "Tiger shark, 3.7 m [12'] ",
 "4 m [13'] white shark",
 "Tiger shark, >3 m [10']",
 '4.5 m [14\'9"] white shark',
 "Two sharks seen in vicinity: 2.4 m & 4.25 m  [8' & 14'] TL",
 'White shark',
 "2 m [6.75'] white shark",
 "6 m [20'] white shark",
 "5 m [16.5'] white shark",
 "16' white shark",
 "3 m [10'] bull shark",
 '40 to 50 sharks attacked survivors in the water',
 'White shark',
 '4.3 m shark',
 "3 m [10'] white shark",
 "6 m [20'] white shark",
 'Bull shark',
 'Tiger shark, 4 m ',
 '4.5 m to 5 m white shark',
 "Tiger shark, 5 m [16.5']",
 "Tiger shark, 5 m [16.5']",
 "2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard",
 "5.5 m [18''] white shark",
 "7 m [23'] white shark",
 'Said to involve a tiger shark or a hammerhead shark',
 '6 m  white shark',
 'Tiger shark',
 'White shark',
 'White shark?',
 '2 m shark',
 "White shark, 2.3 m [7.5'], tooth fragment recovered",
 'Bronze whaler shark',
 'White shark',
 "White shark, 3 m [10'] ",
 "White shark, 5 m [16.5'] ",
 "small sharks'",
 "3.7 m [12'] sharks",
 'White shark',
 'White shark',
 'Oceanic whitetip shark x 2',
 'Thought to involve a tiger shark',
 'White shark',
 'White shark according to tooth pattern and witnesses',
 "White shark, 4.3 m [14'], (tooth fragment recovered)",
 "3.7 m [12'] shark",
 'White shark',
 'Thought to involve a white shark',
 "3.7 m [12'] shark",
 "3.7 m [12'] shark",
 "3.7 m [12'] shark",
 'A pack of 6 sharks',
 'A pack of 6 sharks',
 'White shark',
 'Believed white shark and other smaller species of sharks involved.',
 'Shark involvement not confirmed',
 "4.6 m [15'] shark",
 "1.8 m [6'], 180-lb shark",
 '2 sharks involved',
 ' ',
 "4.9 m [16'] whaler",
 'Tiger shark',
 "1.8 m [6'] shark",
 "White shark, 3 m to 3.7 m [10' to 12'] ",
 'Tiger shark',
 '300- to 400-lb Zambesi shark',
 'Tiger shark',
 "White shark, 4 m [13'] rk",
 "5.5 m [18'] shark",
 '8 sharks',
 'White shark, 3 m ',
 'Hand found in gut of 2.9 m to 3.3 m [9\'7" to 10\'11"] Galapagos shark, C. galapagensis',
 'Tooth fragments of \x93whaler\x94 shark were recovered, a bull shark, according to Edwards',
 "White shark, 4.3 m [14'] (or bronze whaler)",
 "2.7 m [9'] shark",
 'White shark',
 'Unknown',
 'Possibly a bronze whaler shark',
 'Possibly a bronze whaler shark',
 'White shark, 3 m ',
 "3 m [10'] shark",
 "Next morning a 3 m [10'] shark was caught that had Andrews' leg in its gut",
 'White shark',
 'Zambesi shark',
 "2.1 m [7'], 90-kg shark",
 '> 3 m shark',
 "White shark, 3 m [10'], tooth fragment from wounds identified as that of a white shark",
 "Tiger shark, 3.4 m [11'] captured",
 'Bull shark',
 "4.3 m [14'] shark",
 "6' shark",
 "3.7 m [12'] shark",
 "Blue shark, 3 m [10']",
 'Blue shark?',
 "Reported to involve a White shark, 6 m to 7m [20' to 23'] ",
 "White shark, 3 m [10']; identifed by Dr. W.I. Follett on tooth marks",
 "Said to involve 2 sharks: 5.2 m & 6 m [17' & 20'] ",
 'White shark?',
 "1.5 m to 1.8 m [5' to 6'] sharks",
 "Tiger shark, 4.6 m to 7.6 m [15' to 25'] ",
 'Tiger shark',
 "12' shark",
 'Blue shark',
 "Sharks averaged 1.8 m [6'] in length",
 "3 m [10'] shark",
 "3 m [10'] shark",
 'White shark',
 'Several sharks involved',
 ">3 m [10'] shark",
 'White shark',
 'White shark',
 "2.4 m [8'] tiger shark caught 40 hours later with shorts of the boy in its gut",
 'Tiger shark',
 "4.3 m [14'] shark",
 'White shark',
 "3.7 m [12'] shark & may have been another shark nearby",
 "1.8 m [6'] shark",
 'White shark',
 'Survivors said 2 species of sharks were involved:  oceanic whitetip sharks and another species',
 'White shark',
 'Blue shark',
 'Blue shark',
 'White shark, 6.5 m ',
 "2.4 m [8']  shark",
 '3.6 m  white shark  (or bronze whaler)',
 "Bronze whaler shark,3.7 m [12'] ",
 "9' shark",
 'Bull shark suspected due to freshwater habitat',
 'Bull shark suspected due to freshwater habitat',
 "3 m [10'] shark seen in vicinity",
 'Tiger shark',
 "White shark,4.6 m [15'] ",
 ">6.7 m [22']  shark",
 '2m shark',
 '"Attacked by a number of sharks"',
 "2.4 m [8']  shark",
 'White shark',
 "White shark, 3.7 m [12']  according to witnesses",
 "Tiger shark, 3.7 m to 4.3 m  [12' to 14']",
 '3.3 m [10\'9"] shark',
 'White shark, 3.6 m [11\'9"] ',
 "His hand was found in a 2.4 m [8'] tiger shark caught 1/5/1949",
 "Said to be 6.4 m [21'] shark",
 "3.7 m [12'] shark",
 'Tiger shark',
 'Possibly C. leucas',
 "4.3 m [14'] shark",
 'White shark, according to witnesses',
 "White shark, 2.4 m [8'] ",
 "Bull sharks to 1.5 m [5']  in length",
 'White shark, 2 m [6\'9"]  (Tooth fragment recovered from victim\'s shoulder & identified by J.T. Nicholls)',
 'Bull shark',
 "1.8 m to 2.4 m [6' to 8'] sharks, most were oceanic whitetip sharks",
 'White shark, 4.5 m  to 6 m [14\'9" to 20\'] according to witnesses',
 'Tiger shark & others',
 "Bull shark, 4 m [13'] ",
 'Reportedly: oceanic whitetip sharks, blue sharks, tiger sharks & bull sharks',
 "5.5 m [18'] shark",
 'White shark, species identity confirmed by tooth pattern',
 'White shark, 160-kg [353-lb], identity confirmed by tooth pattern',
 "3 m [10'] shark",
 "2.4 m [8'] shark",
 "2.6 m [8.5'] shark landed 2 hours later",
 '"a large shark"',
 'Thought to involve bull sharks',
 "12' shark",
 'Tiger shark',
 'Tiger shark,  3.6 m [11\'9"], 850-kg [1874-lb] female, contained Girvan\'s remains ',
 '2 days later a 600-lb shark was caught 100 yards from the site',
 'White shark',
 "Thought to involve a 12' white shark",
 'White shark (identified by Dr. Hugh Smith) ',
 "Tiger shark, 2.4 m [8']",
 'White shark',
 'White shark',
 "3.7 m [12'] shark",
 "White shark, 4 m [13'] ",
 "White shark, 3.5 m to 4 m [11.5' to 13'] ",
 'White shark',
 "4.3 m [14'] shark seen in vicinity",
 "4 m [13'] shark seen in vicinity",
 "Tiger shark, 3.4 m [11'] ",
 'Possibly a bull shark or tiger shark',
 "White shark 4.9 m [16'] ",
 'Tiger shark',
 'Galapagos shark',
 "12' shark",
 "Moreno\x92s leg  & part of his swim suit found in 9' shark caught two hours after the attack. Identified as carcharhinid shark by L. Schultz & C. Limbaugh on photograph",
 "White shark, 4.4 m [14.5'] . ",
 "3.7 m [12'] shark",
 "Said to involve 6 to 7 m [20' to 23'] white shark",
 "White shark, 3.8 m [12.5']  ",
 "White shark, 3.7 m [12']  ",
 "Tiger shark, 4 m [13'] female",
 '1.8 m shark',
 "3 m [10'] shark",
 '2.7 m [9\'] "blue" shark',
 "1.8 m [6'] shark",
 "6' shark",
 "2.7 m [9'] shark later captured by Mitchell-Hedges",
 "White shark, 2.4 m [8'] ",
 'White shark',
 "Comrades saw shark's tail appear about 5' away",
 "3.7 m [12'], 1200-lb shark. Shark caught & its jaw exhibited at the Carnegie Museum",
 "12' shark",
 "Tiger sharks, 2.4 m to 4.9 m [8' to 16'] ",
 "3 m [10'] shark",
 "Thought to involve a 2.6 m [8.5'] white shark",
 "Thought to involve a 2.6 m [8.5'] white shark",
 'A 20\' shark known as "Old Tom"',
 '2.8 m [9\'3"] whaler shark captured 3 days later with his remains in its gut',
 'White shark',
 '18-foot shark',
 'Remains recovered from 3 sharks',
 'Species unknown, possible white shark',
 'Allegedly a 33-foot shark',
 'Bull shark',
 'Shark involvement probable',
 'White shark, 6 m ',
 'Remains recovered 5 days later',
 'Fishermen recovered partial remains from shark a week later',
 "1.8 m to 2.7 m [6' to 9'] shark",
 "2.4 m [8'] shark",
 'Bull shark',
 '2 m shark',
 'White shark',
 'Basking shark',
 "3 m [10'] shark",
 '3 sharks',
 '1.8 m shark',
 "20' shark",
 "16' shark",
 '5m, 3500 kg female shark',
 "12' to 14' shark",
 "14' shark",
 "10' shark",
 'Said to involve 2 sharks',
 "14' shark",
 'a school of sharks',
 'Bull shark',
 '3 sharks',
 'Tiger shark',
 "15' shark",
 "8' shark",
 'White shark',
 'Identified as C. gangeticus by Dr. J. Fayrer',
 '2 sharks',
 "16' shark",
 "16' shark",
 '4\' "ground shark"',
 'Remains recovered from shark caught days later',
 'Tiger shark (pregnant)',
 'White sharks',
 "Said to involve a 6 m to 7.3 m [20' to 24'] shark",
 "Said to be a 7.6 m [25'] shark",
 '"a large shark"',
 'Reported to involve a hammerhead shark',
 'Tiger shark?',
 'White sharks',
 'White shark, 1600-lb female ',
 'Basking shark',
 'said to involve 2.5 m hammerhead sharks',
 'Tiger shark',
 'Questionable',
 'Tiger shark',
 "Bull shark caught, leg recovered & buried beside the man's body",
 'Bull shark',
 '"a black-tipped shark"',
 "12' tiger shark",
 'Blue pointer',
 'Blue pointer',
 'Blue pointers',
 'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable']

In [104]:
## Get list of species 

fatalattacks['Species ']
fatalattacks['fatals']= fatalattacks['Species '].str.extract(r'(\w{3,}\sshark)|(?:\w{3,}\spointer)')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [105]:
fatalattacks['Species '].replace('Blue pointer', 'blue pointer shark', inplace= True)
fatalattacks['Species '].replace('Blue pointers', 'blue pointer shark', inplace= True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [132]:
fatalattacks[fatalattacks['Species ']== 'whaler shark']

Empty DataFrame
Columns: [Fatal (Y/N), Species , Country, fatals, Fatal_Species]
Index: []

In [109]:
## Create correct dataframe

fatalattacks['Fatal_Species']= fatalattacks['Species '].str.extract(r'(\w{3,}?-\w{3,}\sshark|\w{3,}?\s\w{3,}\sshark|\w{3,}\sshark)')
fataldf= fatalattacks[['Fatal (Y/N)', 'Fatal_Species', 'Country']]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [116]:
fataldf= fataldf.dropna()

fataldf.applymap(lambda x: x.title())

     Fatal (Y/N)       Fatal_Species     Country
6              Y         Tiger Shark      Brazil
58             Y         Tiger Shark  Costa Rica
59             Y          Blue Shark       Libya
64             Y         Tiger Shark        Cuba
155            Y         White Shark   Australia
...          ...                 ...         ...
6276           Y         Tiger Shark      Belize
6293           Y  Blue Pointer Shark   Australia
6294           Y  Blue Pointer Shark   Australia
6295           Y  Blue Pointer Shark   Australia
6296           Y    Grey Nurse Shark   Australia

[307 rows x 3 columns]

In [ ]:
## GET ALL ATTACKS BY SPECIES ##

In [137]:
spattacks= df[['Fatal (Y/N)', 'Species ']].dropna()
spattacks
spattacks['Species ']
spattacks['Species '].replace('Blue pointer', 'blue pointer shark', inplace= True)
spattacks['Species '].replace('Blue pointers', 'blue pointer shark', inplace= True)

spattacks['Species']= spattacks['Species '].str.extract(r'(\w{3,}?-\w{3,}\sshark|\w{3,}?\s\w{3,}\sshark|\w{3,}\sshark)')
spattacks= spattacks[['Fatal (Y/N)','Species']].dropna()
spattacks.applymap(lambda x: x.title())

     Fatal (Y/N)             Species
0              N         White Shark
4              N         Tiger Shark
6              Y         Tiger Shark
7              N         Lemon Shark
8              N          Bull Shark
...          ...                 ...
6276           Y         Tiger Shark
6293           Y  Blue Pointer Shark
6294           Y  Blue Pointer Shark
6295           Y  Blue Pointer Shark
6296           Y    Grey Nurse Shark

[1981 rows x 2 columns]